<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Página web de aplicación de servicios a domicilio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto doloribus corporis enim dolorum aliquid iste, at quos, vero minima amet 
                inventore unde adipisci labore temporibus quaerat nihil nisi aut.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto1.jpg" class="img-fluid img-proyecto">
        </div>
    </div>

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Aplicación de reserva de dispositivos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto doloribus corporis enim dolorum aliquid iste, at quos, vero minima amet 
                inventore unde adipisci labore temporibus quaerat nihil nisi aut.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto2.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>