<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/linkedingLogo.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/facebookLogo.png" id="facebook"></a>
                <a href=""><img src="../../../assets/githubLogo.png" id="github"></a>
                <a href=""><img src="../../../assets/instagramLogo.png" id="instagram"></a>
                <button type="button" class="btn btn-outline-primary" (click)="login()" *ngIf="!isLogged">Ingreso</button>
                <button type="button" class="btn btn-outline-primary" (click)="onLogout()" *ngIf="isLogged">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</div>
